@keyframes headerAnimation {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0)
    }
}


@keyframes intro {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    background-color: transparent;
    z-index: 10;
    transition: background-color 0.25s ease-in-out;
    animation: headerAnimation 1s ease-in forwards;

    .logo-link {
        margin-right: 50px;

        .logo {
            max-height: 60px;
        }
    }

    .btn-wrap {
        display: flex;
        align-items: center;
        order: 1;
    }

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        ul {
            display: flex;

            li {
                padding: 5px 10px;
                position: relative;

                a {
                    font-size: 18px;   
                }

                &::before {
                    content: '';
                    width: 0;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: $turqoise;
                    transition: width 0.25s ease-in-out;
                    z-index: -1;
                }

                &:hover {
                    &::before {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }

    &.sticky {
        background-color: $blue-bell;
    }
}

.mobile-nav {
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;

    img,
    .hero-intro {
        width: 50%;
    }
    

    img {
        height: 100%;
        object-fit: cover;
    }

    .hero-intro {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        height: 100%;
        text-align: left;
        border-bottom: 5px solid $turqoise;
        border-right: 5px solid $turqoise;
        animation: intro 1s ease-in forwards;

        h1 {
            width: 100%;
            font-style: italic;
            font-size: 60px;
            margin-bottom: 10px;
            
        }

        p {
            font-size: 24px;
            margin-bottom: 16px;
        }

        .hero-cta {
            padding: 18px 46px;
            border-radius: 32px;
            font-size: 18px;
            font-weight: 600;
            background-color: $turqoise;
            box-shadow: 0 5px 10px rgba(0,0,0,0.2);
            transition: transform .25s ease-in-out;
            will-change: transform;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.product-container,
.users-container,
.faq-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 40px;


    .user-heading,
    .product-heading,
    .faq-heading {
        width: 100%;
        font-size: 40px;
        text-align: center;
        margin-bottom: 80px;
    }
}


.product-container {
    .product {
        display: flex;
        flex-direction: column;
        width: calc(33% - 13px);
        margin-right: 20px;
        margin-bottom: 60px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        border-radius: 15px;
        border: 2px solid transparent;
        overflow: hidden;

        &:nth-of-type(3n + 3) {
            margin-right: 0;
        }

        .product-img {
            height: 300px;
        }

        .product-img img {
            border-radius: 15px;
            max-height: 300px;
            object-fit: contain;
            width: 100%;
            
        }

        .product-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            flex: 1;
            position: relative;

            h3 {
                margin-bottom: 10px;
            }

            .description {
                margin-bottom: 15px;
                flex: 1;
            }

            .price {
                font-size: 24px;
            }

            .overlay {
                transform: translateY(100%);
                transition: transform 0.5s ease-in-out;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                p {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }

            &:hover {
                .overlay {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}

.users-container {
    justify-content: center;

    .customer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(50% - 10px);
        margin-right: 20px;
        padding: 20px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-bottom: 40px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        border: 5px solid $blue-bell;
        transition: transform 0.25s ease;
        will-change: transform;
        position: relative;

        &:nth-of-type(2n + 2) {
            margin-right: 0;
        }

        .customer-img {
            border-radius: 50%;
            max-height: 80px;
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 8px;
        }

        .customer-info {
            transition: visibility 0.25s ease-in-out, opacity 0.25s ease-in-out;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            overflow-y: auto;
        }

        &:hover {
            transform: scale(0.98);

            .customer-info {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.faq-container {
    justify-content: center;

    .faq  {
        width: 100%;

        .tabs {
            display: flex;
            flex-direction: column;
            align-items: center;

            .tab-single {
                border: 5px solid $blue-bell;
                padding: 10px 20px;
                margin-bottom: 20px;
                border-radius: 10px;
                width: 100%;
                max-width: 800px;
        
                .question {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    margin-bottom: 6px;
        
                    h3 {
                        font-size: 18px;
                        margin-right: 5px;
                    }
                }

                .answer {
                    overflow: hidden;
                    height: 100%;
                    max-height: 0;
                }

                &.show {
                    .question .fa-chevron-down {
                        transform: rotate(180deg);
                    }

                    .answer {
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

.top {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: $blue-bell;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    transition: transform 0.25s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }

    .fa-arrow-up {
        color: $white1;
        font-size: 30px;
    }

    &.show-top-btn {
        display: flex;
    }
}

footer {
    background-color: $turqoise;
    position: relative;

    .container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 50px;
        text-align: center;
    }

    h3 {
        color: $onyx !important;
        margin-bottom: 30px;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin-right: 15px;
            transition: opacity 0.25s ease-in-out;

            &:hover {
                opacity: 0.7;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #fafafa;

       nav {
           width: 100%;
           order: 2;

           ul {
            display: none;
            flex-direction: column;

            &.list {
                display: block;
            }
           }  
       }

       .btn-wrap {
           order: 1;
       }
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;

        .fa-times {
            display: none;
        }
    }

    .fa-bars,
    .fa-times {
        font-size: 24px;
        color: $onyx;
    }

    .hero {
        flex-direction: column-reverse;

        img,
        .hero-intro {
            width: 100%;
        }

        .hero-intro {
            border-right: 0;

            h1 {
                font-size: 40px;
                margin-bottom: 20px;
            }
    
            p {
                font-size: 18px;
            }
        }
    }

    .product-container,
    .users-container,
    .faq-container {
        padding: 50px 20px;
    }

    .product-container {
        .product {
            width: calc(50% - 10px);

            &:nth-of-type(3n + 3) {
                margin-right: 20px;
            }

            &:nth-of-type(2n + 2) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 525px) {
    .product-container {
        .product {
            width: 100%;
            margin-right: 0;

            &:nth-of-type(3n + 3) {
                margin-right: 0;
            }
        }
    }

    .users-container {
        .customer {
            width: 100%;
            margin-right: 0;
        }
    }
}